@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 11% 96%;
    --foreground: 240 28% 14%;
    --card: 0 0% 100%;
    --card-foreground: 240 28% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 28% 14%;
    --primary: 217 89% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 17% 94%;
    --secondary-foreground: 240 28% 14%;
    --muted: 218 11% 65%;
    --muted-foreground: 220 9% 46%;
    --accent: 185 100% 43%;
    --accent-foreground: 0 0% 100%;
    --destructive: 5 81% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 217 89% 61%;
    --radius: 0.5rem;
    --font-heading: ui-sans-serif, system-ui, sans-serif;
    --font-body: ui-sans-serif, system-ui, sans-serif;
    --font-display: ui-sans-serif, system-ui, sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}